name: Test

on:
    push:
    pull_request:
    workflow_dispatch:

jobs:
    test:
        name: 'ubuntu'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-go@v6
              with:
                go-version: 1.25.x
                cache: true
            - run: |
                export GOBIN=$HOME/go/bin
            - run: PATH=$HOME/go/bin/:$PATH make test


